/* GENERAL */
body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
  color: black;
  font-weight: bold;
}

.app-container {
  display: flex;
  height: 100%;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 14px;
}

select option:hover {
  background-color: #E8E8E8;
}

/* HOMEPAGE */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fefefe;
}

.home-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.start-button {
  border-radius: 20px;
  width: 10rem;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #E8E8E8;
  transition: 0.75s;
}

.start-button:hover {
  font-size: 24px;
  border-radius: 0;
  width: 24rem;
  padding: 3rem;
  background-color: #D9D9D9;
  transition: 0.75s;
}

/* RIGHT PART */
.map-container {
  width: 75%;
  height: 100%;
}

/* LEFT PART */
.sidebar {
  width: 25%;
  padding: 1rem;
  padding-top: 0rem;
  background-color: #fefefe;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Title */
.zoneTitle {
  background-color: #E8E8E8;
  width: 60%;
  text-align: center;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin-bottom: 20px;
  padding-bottom: 0.5rem;
}

#title {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 16px;
}

/* Vehicle selector */
.zoneChooseYourVehicle {
  background-color: #D9D9D9;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.50rem;
  padding-right: 0.50rem;
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  border-radius: 15px;
}

.chooseVehicle {
  position: relative;
  background-color: #fefefe;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer !important;
  margin: 8px 0;
  padding: 8px !important;
  cursor: 'pointer' !important;
}

.chooseVehicle:focus{
  border: 2px solid black !important;
}

/* First address entry */
.zoneBaseAddress {
  background-color: #D9D9D9;
  padding-left: 0.50rem;
  padding-right: 0.50rem;
  border-radius: 15px;
  margin-top: 20px;
  padding-bottom: 0.1rem;
}

.autocomplete {
  position: relative;
  border: none;
  border-radius: 10px;
}

.entryBaseAddress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.gpsCoordinatesButton {
  background-color: #fefefe;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 8px;
  border: none;
  margin-top: auto;
}

.yourbaseAddress {
  width: auto;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 11px;
}

/* Second address entry */
.zoneSecondAddress {
  background-color: #D9D9D9;
  padding-left: 0.50rem;
  padding-right: 0.50rem;
  border-radius: 15px;
  margin-top: 20px;
  padding-bottom: 0.1px;
}

.entrySecondAddress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.yourFollowingAddress {
  width: auto;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 11px;
}

/* Delete buttons */

.deleteButton {
  background-color: #E8E8E8;
  width: 3rem;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.deleteButton:hover {
  background-color: #b40000 !important;
  transition: .75s;
}

/* File Import Input */

.fileImport {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.fileImportButton {
  background-color: #fefefe;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 8px;
  text-align: center;
}

/* Information */
.zoneInformation {
  margin-top: 20px;
  border: solid, 5px, #E8E8E8;
  border-radius: 15px;
}

.informationTitle {
  text-align: center;
  background-color: #E8E8E8;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
}

.totalInformation {
  margin-left: 0.5rem;
  font-size: 15px;
}

/* Gps */
.gpsButton {
  background-color: #E8E8E8;
  font-size: 14px;
  margin: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 8px;
  text-align: center;
  border: none;
}

/* RESPONSIVE */

/* TABLET */
@media (max-width: 1024px) {

  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* RIGHT PART */
  .map-container {
    width: 100%;
    height: 60%;
  }

  /* LEFT PART */
  .sidebar {
    height: 40%;
    width: 100%;
    padding: 8rem;
    padding-top: 0rem;
    background-color: #fefefe;
    box-sizing: border-box;
    overflow-y: auto;
  }

  #title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

}

/* SMARTPHONE */
@media (max-width: 767px) {

  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* RIGHT PART */
  .map-container {
    width: 100%;
    height: 60%;
  }

  /* LEFT PART */
  .sidebar {
    height: 40%;
    width: 100%;
    padding: 2rem;
    padding-top: 0rem;
    background-color: #fefefe;
    box-sizing: border-box;
    overflow-y: auto;
  }

  #title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}